# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.dockerignore~